@model IEnumerable<WebApplication1.Models.SUCURSAL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HORARIO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIRECCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TELEFONO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CORREO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HORARIO)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID_SUCURSAL }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID_SUCURSAL }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_SUCURSAL }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
