@model WebApplication1.Models.SALIDAEMPLEADOS

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de salida</h2>

<div>
    <h4>SALIDAEMPLEADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MOTIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_SALIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_SALIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_SALIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_SALIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADOS.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS.USERNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
